<div class="login-container">
  <mat-card>
    <mat-card-title>Connexion</mat-card-title>
    <mat-card-content>
      <mat-form-field class="w-full">
        <mat-label>Nom d’utilisateur</mat-label>
        <input matInput [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Mot de passe</mat-label>
        <input matInput [(ngModel)]="password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Se connecter</button>

      <p *ngIf="error" class="text-red-600 mt-3">{{ error }}</p>
    </mat-card-content>
  </mat-card>
</div>
