mat-card {
  max-width: 600px;
  margin: 20px auto;
}

mat-card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}


.experience-item {
  align-items: flex-start; /* aligne le contenu en haut */
  white-space: normal;     /* permet les retours à la ligne */
  height: auto !important; /* s’adapte au contenu */
  padding-top: 8px;
  padding-bottom: 8px;
}

.experience-content {
  width: 100%;
  overflow: visible;
  word-wrap: break-word; /* casse les longues phrases */
}


