<h2 mat-dialog-title>
  {{ mode === 'login' ? 'Connexion' : 'Inscription' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="username" required />
    </mat-form-field>


    <mat-form-field appearance="fill" *ngIf="mode === 'register'">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>


    <mat-form-field appearance="fill" *ngIf="mode === 'register'">
      <mat-label>Profil</mat-label>
      <mat-select formControlName="role">
        <mat-option value="CANDIDAT">
          <mat-icon class="role-icon">person</mat-icon>
          Candidat
        </mat-option>
        <mat-option value="EMPLOYEUR">
          <mat-icon class="role-icon">business</mat-icon>
          Employeur
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="close()">Annuler</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="loading">
        {{ mode === 'login' ? 'Se connecter' : 'Créer un compte' }}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>


<div class="toggle-link">
  <a (click)="toggleMode()" style="cursor: pointer;">
    {{ mode === 'login' ? "Pas encore de compte ? S'inscrire" : "Déjà un compte ? Se connecter" }}
  </a>
</div>