<div class="home-root">
  <h1>Bienvenue sur Talent+</h1>
  <p class="subtitle">La plateforme qui met en relation candidats et recruteurs.</p>

<div class="cards">
  <mat-card class="home-card clickable" routerLink="/offres">
    <mat-card-title>Pour les candidats</mat-card-title>
    <mat-card-content>
      Recherchez et postulez aux meilleures offres d’emploi.
    </mat-card-content>
  </mat-card>

  <mat-card class="home-card clickable" routerLink="">
    <mat-card-title>Pour les recruteurs</mat-card-title>
    <mat-card-content>
      Trouvez rapidement les meilleurs talents.
    </mat-card-content>
  </mat-card>

   <mat-card class="home-card clickable" routerLink="">
    <mat-card-title>Pour les employeurs</mat-card-title>
    <mat-card-content>
      Poster vos offres et trouver rapidement un candidat.
    </mat-card-content>
  </mat-card>
</div>

  <div class="home-footer">
  <h2>Pourquoi choisir Talent+ ?</h2>
  <p>
    Talent+ facilite la mise en relation entre les meilleurs talents IT et les entreprises qui recrutent. 
    Grâce à notre plateforme, chaque candidature est centralisée et suivie avec précision, 
    permettant aux recruteurs de gagner du temps et d’identifier rapidement les profils adaptés.
  </p>
  <p>
    Nous accompagnons les candidats tout au long du processus de recrutement, 
    depuis la soumission du CV jusqu’à l’entretien et la proposition d’embauche. 
    Talent+ est l’outil idéal pour optimiser le recrutement dans le secteur IT.
  </p>
</div>

</div>
